<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.earlier.yma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".meal.MealActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.WithNav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".searchschool.SearchSchoolActivity"
            android:label="@string/activity_search_title"
            android:exported="true"/>

        <activity
            android:name=".ui.PrefActivity"
            android:label="PrefActivity"
            android:parentActivityName=".meal.MealActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".meal.MealActivity" />
        </activity>

        <service
            android:name=".service.MealDataService"
            android:exported="false" />
    </application>

</manifest>
